.center-h1{
	text-align: center!important;
	border:solid 1px gray;
	border-radius: 5px;
	padding: 10px 5px;
}

.my-table{
	width: 100%;
	border-collapse: collapse;
}

.my-table td{
	text-align: center;
}
.my-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.my-table tr:nth-child(even) {
    background-color: #dddddd;
}

ul.my-ul{
	list-style-type: none;
}
ul.my-ul li {
	max-width: 200px;
	padding: 10px;
	border: 1px solid;
}
.my-img{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px gray;
    padding: 5px;
    margin-left: 40%;

}
